body {
  background-color: black;
  text-align: justify;
  font-size: 20px;
}

h1 {
  margin: 0;
  letter-spacing: 6px;
}

.resumebody {
  background-color: white;
  width: 800px;
  margin: 75px auto;
  padding: 75px 100px 75px 75px;
}

.intro p {
  margin-top: 0;
}

.job {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.exp {
  background-color: lightblue;
  padding: 20px 35px 20px 20px;
  border-radius: 10px;
  color: #902c2c;
}

.exp h2 {
  color: teal;
  margin: 0;
}

.exp li {
  line-height: 1.2;
  margin: 25px 0px;
}

.skills {
  padding: 20px 35px 20px 20px;
  background-color: lightgreen;
  border-radius: 20px;
}

.skills h2 {
  color: Green;
  margin: 0;
}

.skills li{
  font-weight: bold;
  list-style: armenian;
  color: #bc00f5;
}
